In [1]:
import pandas as pd

In [4]:
df0 = pd.read_csv('smoking_original.csv')
df1 = pd.read_csv('lagged_smoking_original.csv')

display(df0,df1)

        hhid14_9  smoking    pidlink
0        1060000        1    1060001
1        1060000        0    1060007
2        1060000        0    1060008
3        1060004        0    1060004
4        1060004        0    1065102
...          ...      ...        ...
34266  321291100        0  321291103
34267  321291100        1  321291104
34268  321300000        0  321300001
34269  321300000        0  321300002
34270  321300000        0  321300003

[34271 rows x 3 columns]

       lagged_smoking    pidlink
0                   0    1220001
1                   1    1220002
2                   0    1220003
3                   1    1220006
4                   1    1220007
...               ...        ...
29026               0  321290004
29027               0  321290005
29028               1  321300001
29029               0  321300002
29030               0  321300003

[29031 rows x 2 columns]

In [8]:
df2 = pd.merge(df0,df1,how='left',on='pidlink').dropna()

df2

        hhid14_9  smoking    pidlink  lagged_smoking
8        1220000        1    1220001             0.0
9        1220000        1    1220002             1.0
10       1220000        1    1220006             1.0
11       1220009        0    1220009             0.0
12       1224100        1    1220003             0.0
...          ...      ...        ...             ...
34264  321291100        0  321290002             1.0
34265  321291100        1  321290004             0.0
34268  321300000        0  321300001             1.0
34269  321300000        0  321300002             0.0
34270  321300000        0  321300003             0.0

[22765 rows x 4 columns]

In [9]:
def smoking(row):
    if row['smoking']-row['lagged_smoking'] == 0 and row['smoking'] == 0:
        return 1
    return 0
df2['never_smoking'] = df2.apply(smoking, axis=1)

def smoking(row):
    if row['smoking']-row['lagged_smoking'] == 0 and row['smoking'] == 1:
        return 1
    return 0
df2['always_smoking'] = df2.apply(smoking, axis=1)

def smoking(row):
    if row['smoking']-row['lagged_smoking'] == 1:
        return 1
    return 0
df2['started_smoking'] = df2.apply(smoking, axis=1)

def smoking(row):
    if row['smoking']-row['lagged_smoking'] == -1:
        return 1
    return 0
df2['stopped_smoking'] = df2.apply(smoking, axis=1)

In [11]:
df3 = df2[['pidlink','never_smoking','always_smoking','started_smoking','stopped_smoking']]

df3

,pidlink,never_smoking,always_smoking,started_smoking,stopped_smoking
8,1220001,0,0,1,0
9,1220002,0,1,0,0
10,1220006,0,1,0,0
11,1220009,1,0,0,0
12,1220003,0,0,1,0
...,...,...,...,...,...
34264,321290002,0,0,0,1
34265,321290004,0,0,1,0
34268,321300001,0,0,0,1
34269,321300002,1,0,0,0
34270,321300003,1,0,0,0

In [12]:
df3.to_csv(r'C:\data_python\smoking_merged.csv',index=False)